body {
  /* text-align: center; */
  background: rgb(0, 238, 255);
}
.structure{
  margin: 20px;
}
table, td {
  border: 2px solid;
  /* border-collapse: collapse; */
  height:100px;
  
}
td{
  width:100px;
  background-color: black;
  text-align: center;
  color: white;
  font-size: 45px;
  font-weight: bolder;
}
#userwinner{
  display: none;
}
#drow{
  display: none;
}
#userguide{
  display: block;
}
